# Ignore virtual environment
venv/

# Ignore system files
__pycache__/
*.pyc

# Ignore database or temporary data
chroma_db_bge/
*.db

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore environment settings
.env
